In [32]:
import pandas as pd
import plotly.express as px 
import plotly.graph_objects as go
from datetime import date
from dash import Dash, dcc, html, Input, Output 
from jupyter_dash import JupyterDash
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import PolynomialFeatures
from sklearn import preprocessing
from datetime import datetime
import numpy as np
from urllib.request import urlopen
import warnings
warnings.filterwarnings("ignore")
import json

In [33]:
def data_clean(df, x, county = None, state = False ):
    temp = df
    temp = temp[temp['countyFIPS'] != 0]
    if county:
        temp = temp[temp['countyFIPS'] == county]
        #print(temp)
    elif(state):
        temp = temp[temp['State'] == state]
        #print(state)
    temp1 = temp[['Date',x]]
    day_list = list(temp1[x])
    day_count = []
    day = 1
    s = False
    for i in day_list:
        if int(i) >= 1 or s == True:
            s = True
            day_count.append(day)
            day = day+1
        else:
            day_count.append(0)
    temp1['on_particular_day'] = day_count       
    y = day_count.index(1)
    temp1.drop(temp1.iloc[:y,:].index.tolist(), inplace=True)
    return temp1

In [3]:
def regres(df, var, reg_type):
    X = np.stack(df['on_particular_day']).reshape(-1,1)
    y = np.stack(df[var]).reshape(-1,1)
    reg = LinearRegression().fit(X,y)
    predict = reg.predict(X)
    if(reg_type):
        preg = PolynomialFeatures(degree=reg_type)
        predict1 = preg.fit_transform(X)
        predict_total = LinearRegression().fit(predict1,y)
        predict = predict_total.predict(predict1)   
    reg_temp = pd.DataFrame(X)
    reg_temp1 = pd.DataFrame(y)
    reg_temp2 = pd.DataFrame(predict)
    reg_temp[1],reg_temp[2] = reg_temp1[0],reg_temp2[0]
    return reg_temp

In [4]:
states_data = pd.read_csv('long_large_covid.csv')

In [5]:
states_data = states_data[states_data['countyFIPS'] != 0]

In [6]:
states_data['Date'] = states_data.Date.apply(lambda day: datetime.strptime(day, "%Y-%m-%d"))

In [7]:
states_data1 = states_data.copy()
states_data1['Cases'].clip(lower=0, inplace = True) 
states_data1['Death'].clip(lower=0, inplace = True)

In [8]:
states_data1['new_cases'] = states_data1['Cases'].diff()
states_data1['new_deaths'] = states_data1['Death'].diff()
states_data1= states_data1[states_data1['Date'] != '2020-01-22']

In [9]:
states_data2 = states_data1.groupby(["State","Date"]).sum().reset_index()

In [10]:
states_data2['Normalized cases'] = (states_data2['new_cases']/states_data2['Population'])*100000
states_data2['Normalized deaths'] = (states_data2['new_deaths']/states_data2['Population'])*100000

In [11]:
states_data2['Normalized cases'].clip(lower=0, inplace = True) 
states_data2['Normalized deaths'].clip(lower=0, inplace = True)

In [12]:
states_data2['Log normalized cases']= np.log(states_data2['Normalized cases'])
states_data2['Log normalized deaths']= np.log(states_data2['Normalized deaths'])

In [13]:
states_data2['Log normalized cases'].clip(lower=0, inplace = True) 
states_data2['Log normalized deaths'].clip(lower=0, inplace = True)

In [14]:
df_usa = states_data2.groupby(['Date']).sum().reset_index()

In [15]:
states_data2.head()

,State,Date,countyFIPS,StateFIPS,Cases,Death,Population,new_cases,new_deaths,Normalized cases,Normalized deaths,Log normalized cases,Log normalized deaths
0,AK,2020-01-23,62340,58,0,0,731545,0.0,0.0,0.0,0.0,0.0,0.0
1,AK,2020-01-24,62340,58,0,0,731545,0.0,0.0,0.0,0.0,0.0,0.0
2,AK,2020-01-25,62340,58,0,0,731545,0.0,0.0,0.0,0.0,0.0,0.0
3,AK,2020-01-26,62340,58,0,0,731545,0.0,0.0,0.0,0.0,0.0,0.0
4,AK,2020-01-27,62340,58,0,0,731545,0.0,0.0,0.0,0.0,0.0,0.0

In [16]:
df_usa.head()

,Date,countyFIPS,StateFIPS,Cases,Death,Population,new_cases,new_deaths,Normalized cases,Normalized deaths,Log normalized cases,Log normalized deaths
0,2020-01-23,95465426,95140,1,0,328239523,0.0,0.0,0.000000,0.0,0.0,0.0
1,2020-01-24,95465426,95140,2,0,328239523,1.0,0.0,0.007892,0.0,0.0,0.0
2,2020-01-25,95465426,95140,2,0,328239523,0.0,0.0,0.000000,0.0,0.0,0.0
3,2020-01-26,95465426,95140,5,0,328239523,3.0,0.0,0.018800,0.0,0.0,0.0
4,2020-01-27,95465426,95140,6,0,328239523,1.0,0.0,0.002531,0.0,0.0,0.0

In [34]:
df = pd.read_csv('long_large_covid.csv')

In [35]:
df['Cases']= df['Cases'].diff()
df['Death']= df['Death'].diff()

In [36]:
df1 = df[df['countyFIPS']!= 0]
df1.head()

,countyFIPS,County Name,State,StateFIPS,Date,Cases,Death,Population
573,1001,Autauga County,AL,1,2020-01-22,0.0,0.0,55869
574,1001,Autauga County,AL,1,2020-01-23,0.0,0.0,55869
575,1001,Autauga County,AL,1,2020-01-24,0.0,0.0,55869
576,1001,Autauga County,AL,1,2020-01-25,0.0,0.0,55869
577,1001,Autauga County,AL,1,2020-01-26,0.0,0.0,55869

In [37]:
df1 = df1[df1['Date']!= '2020-01-22']

In [38]:
c_df = df1.groupby(['countyFIPS','County Name','StateFIPS','Population']).sum().reset_index()

In [39]:
temp = c_df['countyFIPS']
temp1 = []
for i in range(0,len(temp)):
    temp1.append(((5-(len(str(temp[i]))))*'0')+str(temp[i])) 
c_df['countyFIPS'] = temp1

In [40]:
norm_c_df = c_df.copy()
norm_c_df['Cases'] = (norm_c_df['Cases'] / norm_c_df['Population']) * 100000
norm_c_df['Death'] = (norm_c_df['Death'] / norm_c_df['Population']) * 100000

In [41]:
df_1 = norm_c_df.copy()
with urlopen('https://raw.githubusercontent.com/plotly/datasets/master/geojson-counties-fips.json') as response:
    counties = json.load(response)

In [42]:
app = JupyterDash(__name__)

app.layout = html.Div([

    html.H1("Dashboards with Dash", style={'text-align': 'center'}),
    html.H5("Refresh, if a functionality of dash is not working", style={'text-align': 'center'}),

    html.Div([
        dcc.Dropdown(id="slct_param",
                 options=[
                     {"label": "Cases", "value": "cases"},
                     {"label": "Deaths", "value": "deaths"}],
                 multi=False,
                 value="cases",
                 style={'width': "40%"}
                 ),]),
    html.Div(id='output_container', children=[]),
    html.Br(),
    
    
    html.Div([dcc.RadioItems(
        id='map',
        options=[{'label': 'Choropleth Map','value': 1},
                ],
        value= None,
        labelStyle={'display': 'inline-block'}
    ),]),
    
    #dcc.Graph(id='output-container-date-picker-range', figure={}),
    dcc.Graph(id='weekly_trend', figure={})
    #dcc.

])

Referred to this link for choropleth map: https://plotly.com/python/mapbox-county-choropleth/ <br>
- https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.rolling.html<br>
- https://dash.plotly.com/dash-core-components

In [47]:
@app.callback(
    [Output(component_id='output_container', component_property='children')],
    [Input(component_id='slct_param', component_property='value'),
     Input('map', 'value') ]
)
def update_graph(option_slctdmap):
    if(option_slctd=='cases'): 
        map = 'Cases'
    else:
        map = 'Death'
    fig = px.choropleth_mapbox(df_1, geojson=counties, locations='countyFIPS', color=map,
                           color_continuous_scale="blues",
                           range_color=[df_1[map].min(), df_1[map].max()],
                           mapbox_style="open-street-map",
                           zoom=3, center = {"lat": 37.0902, "lon": -95.7129},
                           opacity=0.5,
                           hover_data=['County Name', 'StateFIPS', map, 'Population']
                          )
    fig.update_layout(margin={"r":0,"t":0,"l":0,"b":0}, height=600,)


    return container, fig

In [48]:
app.run_server(debug= True,port=8055)

Dash app running on http://127.0.0.1:8055/